.post-detail {
  min-height: 700px;
  padding-bottom: 80px;
}

.post-detail__title {
  font-size: 84px;
  line-height: 100%;
  margin-bottom: 33px;
}

.post-detail__img {
  display: block;
  width: 100%;
  margin-bottom: 80px;
  margin-top: 40px;
}

.post-detail__label {
  font-size: 16px;
}

.post-detail__text {
  font-size: 36px;
  line-height: 124%;
  margin-top: 32px;
}
