@use '@/assets/styles/variables' as *;

.post {
  &:hover {
    & .post__to-detail {
      visibility: visible;
    }
  }
}
.post__img-wrap {
  height: 280px;
}
.post__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post__preview-text {
  font-size: 20px;
  line-height: 120%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  &::first-letter {
    text-transform: uppercase;
  }
}

.post__to-detail {
  font-size: 20px;
  line-height: 120%;
  color: $additional-3;
  visibility: hidden;
}
