$primary-text-color: #101010;

$primary-1: #101010;
$primary-2: #232323;
$primary-3: #868686;
$primary-4: #f3f3f3;
$primary-5: #ffffff;

$additional-1: #9effbf;
$additional-2: #7941a7;
$additional-3: #e2beff;
$additional-4: #1059c8;
